<form action="/payment/results">

  <label for="c">APR</label>
  <input id="c" type="text" name="users_apr" placeholder="E.g. 5.42"></input>

  <label for="d">Number of years</label>
  <input id="d" type="text" name="users_years" placeholder="How many years to repay?"></input>

  <label for="e">Principal</label>
  <input id="e" type="text" name="users_principal" placeholder="How much principal?"></input>

  <button>Calculate monthly payment</button>

</form>
