<h1>Calculate the square root</h1>

<form action="/square_root/results">
  <label for="b">Enter a number</label>
  <input id="b" type="text" name="users_number"></input>
  <button>Calculate square root</button>
</form>
